body{font-family: 'Poppins', sans-serif;}
.container{margin-bottom: 40px;}
.navbar-brand img{
    width: 30px;
}
header{
    background-color: #562EFF;
}
header a {
    color: #fff !important;
  }
  a.nav-item img {
    width: 35px !important;
    margin-top: -1px;
  }

  /* article */
  article{background-color: #E5E5E5;
    padding: 40px 0xp;
}
  article img{width: 56px;}
  article h5{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    /* identical to box height */
    color: #000000;
  }
  article .container{
      background: #fff;
      border-radius: 5px;
  }